<!-- navbar.gohtml -->

<link rel="stylesheet" href="/static/styles/main.css">

<nav class="header">
    <ul class="flex items-center gap-x-5">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/add-article">Add Article</a></li>
    </ul>
</nav>
